HTML {
    background-color: transparent;
}

BODY {
    margin: 0 3px; color:white;
    font: message-box; 
    background-color: transparent;
    -moz-border-image: url(resource://openwebapps/chrome/skin/hud-panel.png) 26 50 22 18 / 26px 50px 22px 18px repeat;
}

.appList {
	background: rgba(0,0,0,0);
	-moz-border-radius: 1em;
	border-radius: 1em;
	background-color: rgb(220,220,220);
    -moz-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.appList:after { content: "."; 
    display: block;
    height: 0;
    clear: both; 
    visibility: hidden; 
}
.split {clear:both;display:inline-block;background-color:green;width:20px;height:20px}

.app {
	display:inline-block;
	position: relative;
	margin: 0px 5px 10px 5px;
    height:96px;
    overflow-y:hidden;
    overflow-x:hidden;
}

.appName {
	color: rgb(220,220,220);
	font-family:Tahoma, sans-serif !important;
	width: 100%;
    font-weight:bold;
	font-size: 10px;
	line-height: 12px;
	top: 116px;
    width:60px;
	text-align: center;
	margin: auto;
    cursor:default;
}

.icon {
	position: relative;
	width: 48px;
	height: 48px;
	text-align: center;
	margin: 10px;
    border:2px solid #d0d0d0 outset;
    -moz-transition-property: background-size, top, left, opacity;
    -moz-transition-duration: 500ms, 500ms, 500ms, 500ms;
    -moz-transition-timing-function: ease-in-out;
}

#offer_region {
    width:100%;
    display:none;
	font-family:Tahoma, sans-serif !important;
    color:white;

    -moz-transition-property: height, opacity;
    -moz-transition-duration: 500ms, 500ms;
    -moz-transition-delay: 500ms, 500ms;
    -moz-transition-timing-function: ease-in-out, ease-in-out;
}
#offer_intro {
    font-weight: bold;
    margin-bottom:8px;
}

#offer_details {
    background-color:#101010;
    border:1px inset #202020;
    padding:8px;
    width:400px;
}

#offer_icon {
    width:48px;
    height:48px;
    vertical-align:top;
    margin-right:6px;
    display:inline-block;
}
#offer_name {
    display:block;
    font-weight:bold;
    
}
#offer_desc {
    max-height:64px;
    overflow-y:auto;
}
#offer_controls {
    position: relative;
    min-height:28px;
}
#offer_close {
    float:right;
    width:16px;
    height:16px;
    background-color:#303030;
    border-radius:0.25em;
}
#offer_close_button {
    width:16px;
    height:16px;
    background-image: -moz-image-rect(url(resource://openwebapps/chrome/skin/close.png), 0%, 25%, 100%, 0%);
}
#offer_close_button:hover {
    width:16px;
    height:16px;
    background-image: -moz-image-rect(url(resource://openwebapps/chrome/skin/close.png), 0%, 50%, 100%, 25%);
}
#install_status {
    font:bold 9pt Helvetica;
    color:red;
}
#offer_install {
    position: absolute;
    right: 10px;
    font: normal normal bold 8pt/normal Helvetica;
    vertical-align: middle;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgb(255,255,255);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    width: 90px;
    height: 28px;
    line-height: 26px;
    border: 1px solid rgba(0,0,0,0.2);
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow:
        inset rgba(218,255,191,1) 0 1px 0px,
        inset rgba(0,0,0,0.2) 0 -2px 0px,
        rgba(0,0,0,0.1) 0 2px 0px;
    -box-shadow:
        inset rgba(218,255,191,1) 0 1px 0px,
        inset rgba(0,0,0,0.2) 0 -2px 0px,
        rgba(0,0,0,0.1) 0 2px 0px;
    background: -moz-linear-gradient(top, rgba(134,214,106,1), rgba(78,152,52,1)); /* for firefox 3.6+ */
    display: block
}
#icon_region {
}
#manage {
    text-align:right;    
}
#manage a {
    color:#d0d0d0;
    text-decoration:none;
    border:1px outset #404040;
    opacity:1;
    border-radius:4px;
    padding:3px;
}
#manage a:hover {
    text-decoration:underline;
}
#empty {
    float:left;
}
