/*body {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial;
}
a {
  color:#3875D7;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
#control {
  font:9pt Helvetica;
  float:right
}
#servers {
  font:9pt Helvetica;
  float:right
}

.ticket {
  display:inline-block;
  padding:12px;
  width:120px;
  height:120px;
  text-align:center;
  position:relative;
}
.closebox {
  position:absolute;
  left:110px;
  top:8px;
  background-image:url("white_close.png");
  background-repeat:no-repeat;
  width:16px;
  height:16px;
  cursor:pointer;
}
.ticket > .ticket_name {
  font:bold 9pt Helvetica
}
#header {
  padding-top:16px;
  font:bold 18pt Helvetica;
  color:#303030;
}
*/