<!doctype html>
<html>
<head>
    <meta charset=utf-8>
    <title>{% block name %}{% endblock %} - Open Web Apps Browser Unit Tests</title>

    <style>
        ul, li {
            list-style-type: none;
        }
    </style>

    {% block extrastyle %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="/tests/doctestjs/doctest.css" />
    <script type="text/javascript" src="/tests/doctestjs/doctest.js"></script>

    <script type="text/javascript" src="/jsapi/include.js"></script>
    <script type="text/javascript" src="/jsapi/jschannel.js"></script>
    <script type="text/javascript" src="/servers.js"></script>

</head>
<body class="autodoctest">
    <header>    
        <h1>Open Web Apps Browser Unit Tests</h1>
        <h2>{% block name %}{% endblock %}
    </header>

<h3>Available Tests</h3>
<ul id="testSelection">
    {% for spec in specs %}
        <li><a href="/tests/spec/{{spec}}">{{spec}}</a></li>
    {% endfor %}
</ul>

{% block test %}
{% endblock %}

{% block extrajs %}
{% endblock %}

</body>
</html>
