body {
    font-family: georgia, times, serif;
    font-size: 14px;
}

#pageContent {
    width: 900px;
    margin: 0 auto;
}

#title {
    font-family: georgia, 'bitstream vera serif', serif;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: -4px;
}

#subtitle {
    position: relative;
    top: -4px;
    font-size: 100%;
    font-style: italic;
}

#urlInput {
    margin-top: 20px;
}

#urlBox {
    padding: 10px;
    border: 1px solid black;
    color: #666;
    font-size: 110%;
}


#urlInputContainer {
    height: 50px;
    width: 800px;
    margin: 0 auto;
}

#urlInputContainer div {
    float: left;
}

#urlBoxButton button { 
    font-size: 120%;
    color: #333;
}

#content {
    margin-top: 20px;
}

#content > div {
    float: left;
}

#main {
    width: 620px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ccc;
}

#debug {
    width: 220px;
    height: 500px;
    margin-right: 20px;
    background-color: #ccc;
    font-size: 70%;
    font-family: 'lucida console', monaco, 'andale mono', 'bitstream vera sans mono', consolas, monospace;
}

#debugHeader {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    font-size: 120%;
    border-bottom: 1px dashed #666;
}

#debugOutput {
    height: 450px;
    padding:10px;
    overflow-y: scroll;
}
.rounded {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.dbgrow {
    height: 13px;
    margin-top: 4px;
}
.dbgrow > div {
    float: left;
    background: #fff;
    padding:2px;
    text-size: 80%;
}
.dbgrow > div.direction {
    margin-right: 2px;
    width:6px;
}
.dbgrow > div.msgid {
    margin-right: 2px;
    width:30px;
}
.dbgrow > div.type {
    margin-right: 2px;
    width:30px;
}
.dbgrow > div.msg {
    width: 96px;
}

.dbgrow > div.note {
    width: 180px;
    overflow: hidden;
}

.dbgrow > div.note > pre {
    margin: 0px;
    font-family: 'lucida console', monaco, 'andale mono', 'bitstream vera sans mono', consolas, monospace;
}
.dbgrow > .error {
    color: #F00;
}

.dbgrow > .info {
    color: #090;
}

.dbgrow > .warning {
    color: #E6C200;
}

#tabs-1 {
    height: 418px;
}

#tabs-2 {
    height: 418px;
}

#searchInput {
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

#searchInput div {
    float: left;
}

#searchBoxButton {
    font-size:80%;
}

#searchBox {
    padding: 5px;
    border: 1px solid black;
    color: #666;
    font-size: 90%;
}

#debugClear {
    margin-right:5px;
    margin-top:3px;
    float: right;
}

#debugClear > button {
    font-size: 80%;
}