body {
    font-family: georgia, times, serif;
    font-size: 14px;
}

#pageContent {
    width: 900px;
    margin: 0 auto;
}

#title {
    font-family: georgia, 'bitstream vera serif', serif;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: -4px;
}

#subtitle {
    position: relative;
    top: -4px;
    font-size: 100%;
    font-style: italic;
}

#content {
    margin-top: 20px;
}

#content > div {
    float: left;
}

#main {
    width: 820px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

#editor {
    width: 800px;
    height: 500px;
    border: 10px solid #bbb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#output {
    margin-top: 30px;
    width: 780px;
    height: 200px;
    border: 10px solid #bbb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    scroll: auto;
    padding: 10px;
}
