.openwebapps-frame
{
  -moz-transition: height 0.2s ease-in;
}

#openwebapps-toolbar-button
{
  list-style-image: url("resource://openwebapps/chrome/skin/toolbar-button.png");
}

#openwebapps-toolbar-button.highlight
{
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  
  -moz-box-shadow:
    inset rgba(255, 255, 255, 0.8) 0 1px 1px,
    inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
	inset rgba(0, 156, 237, 0.2) 0 0px 12px,
	rgba(0, 156, 237, 0.6) 0 0px 12px,
	rgba(0, 156, 237, 1) 0 0px 4px;
  box-shadow:
	inset rgba(255, 255, 255, 0.8) 0 1px 1px,
	inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
	inset rgba(0, 156, 237, 0.2) 0 0px 12px,
	rgba(0, 156, 237, 0.6) 0 0px 12px,
	rgba(0, 156, 237, 1) 0 0px 4px;

  -moz-transition: all 0.25s ease-out;
  opacity: 1;
}

#openwebapps-toolbar-button > image
{
  width: auto;
  height: auto;
}

.popup-notification-icon[popupid="openwebapps-install-notification"]
{
  list-style-image: url("resource://openwebapps/chrome/skin/app-icon.png");
}
