BODY {
  margin:0px;
  font:bold 14pt Helvetica;
  background-color:#ffffff;
  position:relative;
}
a {
  color:#3875D7;
  text-decoration:none
}

.header {
  background-color:black;
  color:white;
  padding:4px;
  font:bold 18pt Helvetica;  
  height:36px;
}
#siteid {
  float:left;
}
#usercontrol {
  float:right;
  text-align:right;
  font:bold 9pt Helvetica;
  vertical-align:baseline;
  padding-top:20px;
  height:36px;
}

.error {
  color:#D00000;
  background-color:#d0d0d0;
  border:1px solid black;
  -moz-border-radius:8px;
  padding:16px;
  margin:16px;

}

.topbar {
  margin:0px;
  padding:0px;
  position:absolute;
  top:0px;
  left:0px;
  background-color:#202020;
  color:#d0d0d0;
  height:32px;
  width:100%;
  border-bottom:1px solid #808080;
  background:no-repeat scroll right top, -moz-linear-gradient(center top, #505050 0%, #303030 50%, #101010 100%) repeat scroll 0 0 transparent;  
  font:bold 9pt Helvetica
}
.user {
  float:right;
  height:32px;
  padding-top:8px;
}
.lvertbar {
  float:right;
  width:2px;
  height:32px;
  margin-right:12px;
  background:no-repeat scroll right, -moz-linear-gradient(left, #101010 0%, #303030 50%, #505050 100%) repeat scroll 0 0 transparent;    
}
.breadcrumb {
  float:left;
  font:bold 12pt Helvetica;
  margin-top:6px;
  margin-left:8px;
  color:#f0f0f0;
}
.breadcrumb a {
  color:#f0f0f0;
  text-decoration:none
}

.droparrow_light {
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAMAAACgjTZZAAAABlBMVEUAAADr7+fnWB52AAAAGUlEQVQImWNghAEGBjgDymRggDIZoADMAAADawAa+i/IvAAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
  height:5px;
  width:9px;
  display:inline-block;
}

.droparrow {
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAMAAACgjTZZAAAABlBMVEUAAACgoKAEzvuuAAAAGUlEQVQImWNghAEGBjgDymRggDIZoADMAAADawAa+i/IvAAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
  height:5px;
  width:9px;
  margin-left:4px;
  margin-right:4px;
  display:inline-block;
}
.content {
  position:relative;
  padding:4px;
  background-color:#FFFFFF;
  margin-top:40px;
  margin-left:16px;
  margin-right:auto;
  width:700px;
  min-height:420px;
  color:black;
}
.leftsidebar {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  padding:5px;
  min-height:420px;
}
.appfineprint {
  font:8pt Helvetica;
  line-height:16px;
  color:#303030;
}

.rightsidebar {
  position:absolute;
  left:230px;
  top:0x;
  width:350px;
  min-height:420px;
}
.rightfloater {
  position:absolute;
  left:580px;
  width:100px;
}

.appname {
  font:bold 18pt Helvetica;
  color:#3f5a73;
}
.apphead {
  margin-top:16px;
  margin-bottom:16px;
  font:bold 12pt Helvetica;
  color:#3f5a73;
}
.appdesc {
  font:10pt Helvetica;
  color:black;
  margin-bottom:16px;
}

.box {
  position:absolute;
  left:300px;
  padding:32px;
  background-color:#FFFFFF;
  margin-top:32px;
  margin-left:auto;
  margin-right:auto;
  width:700px;
  min-height:420px;
  border:1px solid #303030;
  -moz-border-radius: 0.5em;
	-moz-box-shadow: rgba(0,0,0,0.2) 2px 3px 3px; 
}
.siteflat {
  left:16px;
  width:100%;
  height:564px;
  padding:32px;
  background-color:#FFFFFF;
  margin-top:32px;
}
.siteflat > .column {
  position:absolute;
  display:inline-block;
  width:400px;
  left:20px;
  vertical-align:top;
  margin:auto;
}
.siteflat > .column2 {
  position:absolute;
  left:440px;
  display:inline-block;
  padding-left:64px;
  width:350px;
  vertical-align:top;
  margin:auto;
}
.controlbox {
  font:10pt Helvetica;
}

.devname {
  margin-top:12px;
  font:bold 14pt Helvetica;
}
.applicationlist {
  margin-top:24px;
  list-style:none;
}
.applicationlist > ul {
  padding:0px;
  margin:0px;
}

.applistitem {
  display:inline-block;
  position:relative;
  width:300px;
}
.applistitem a {
  color:black;
  font-weight:bold;
  font-size:10pt;
  text-decoration:none;
}
.applisticon {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;

}
.applistdetail {
  position:absolute;
  left:110px;
  top:0px;
  font:9pt Arial;
}



.installbutton {

  -moz-border-radius:0.5em 0.5em 0.5em 0.5em;
  -moz-box-shadow:0 -3px 0 rgba(0, 0, 0, 0.1) inset, 0 -3px 12px rgba(240, 240, 240, 0.3) inset, 0 20px 40px rgba(240, 240, 240, 0.3) inset, 0 2px 0 rgba(200, 200, 200, 0.3);
  background:-moz-linear-gradient(center top , #6BC246 0%, #5CA33E 100%) repeat scroll 0 0 transparent;

  height:28px;
  width:100px;
  font:bold 10pt Helvetica;
  color:white;

  margin-top:2px;
  margin-bottom:25px;

  padding:6px 10px 12px 10px;
  text-align:center;

}

.greenbutton {
-moz-border-radius:0.5em 0.5em 0.5em 0.5em;
-moz-box-shadow:0 -3px 0 rgba(0, 0, 0, 0.1) inset, 0 -3px 12px rgba(240, 240, 240, 0.3) inset, 0 20px 40px rgba(240, 240, 240, 0.3) inset, 0 2px 0 rgba(200, 200, 200, 0.3);
background:url("img/lines.png") no-repeat scroll right top, -moz-linear-gradient(center top , #6BC246 0%, #5CA33E 100%) repeat scroll 0 0 transparent;
height:48px;
width:200px;
margin-bottom:25px;
font:bold 18pt Helvetica;
color:white;
margin-top:12px;
padding:18px 10px 12px 10px;
text-align:center;
}
.greenbutton > a {
  color:white;
  text-decoration:none
}


.form_label {
  display:inline-block;
  width:200px;
  font:10pt Helvetica;
  height:2em;
}

.divider {
  background-color:#D0D0D0;
  width:650px;
  height:1px;
  margin-bottom:20px;
}
