/**************
*
* style.css
*
/**************/

/* ------- HTML ELEMENTS ------- */

html {
	padding-bottom: 0px; 
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	
}

body { 
	font-family: Tahoma, sans-serif !important;
	
	background-color: rgb(230,230,230);
	background: rgba(0,0,0,0.1) url('img/grain.png') repeat top center;
	
	color: rgb(180,180,180);
	font-size:13px;	
}

@font-face{
font-family: 'Museo'; 
src: url('fonts/MuseoSans_500.otf') format('opentype');
}

#container {
	margin: 0px auto;
}

/* ---------------------------  */
/* ------- HEADER -------  */
/* ---------------------------  */

#header {
	position: relative;
	min-width: 600px;
	height: 60px;
	margin-bottom: 50px;
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
	
	border: 1px solid rgba(0,0,0,0.3);
	background: #fff url('img/testpilot-bg.jpg') repeat-x top center;background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,1));
	
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
	box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;	
		
}

#header img {
	position: absolute;
	top: -20px;
	right: -10px;
}

.headerText {
	position: absolute;
	font-family: 'Museo'; 
	color: rgb(80,80,80);
	font-size: 42px; 
	font-weight: normal; 
	letter-spacing: -2px; 
	margin-left: 20px;
	margin-top: 2px;
}

/* -------------------------------------------------------------  */
/* ------- MAIN CONTENT TABS AND FRAME -----  */
/* -------------------------------------------------------------  */

#maincontentmenu {
	min-width: 600px;
	height: 34px;
}

.maincontentmenuItemOn {
	position: relative;
	float: left;
	font-family: 'Museo';
	font-size: 16px;
	vertical-align: middle;
	letter-spacing: -0.5px;
	width: 180px;
	height: 18px;
	margin-left: 12px;
	padding: 5px 12px 10px 12px;
	
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;	
	
	color: rgb(50,50,50);
	border-left: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(255,255,255,1);
	background-color: white;
	display: block;
}

.maincontentmenuItemOff {
	position: relative;
	float: left;
	font-family: 'Museo';
	font-size: 16px;
	vertical-align: middle;
	letter-spacing: -0.5px;
	width: 180px;
	height: 18px;
	margin-left: 12px;
	padding: 5px 12px 10px 12px;
	
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	
	color: rgb(50,50,50);
	border: 1px solid rgba(0,0,0,0.2);
	
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 1) 0 1px 0px,
		inset rgba(0,0,0,0.05) 0 -3px 0px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 1) 0 1px 0px,
		inset rgba(0,0,0,0.05) 0 -3px 0px;
	box-shadow: 
		inset rgba(255, 255, 255, 1) 0 1px 0px,
		inset rgba(0,0,0,0.05) 0 -3px 0px;
		
	background-color: rgba(255,255,255,0.5);
	display: block;
}

#maincontentmenu a{
	color: rgb(50,50,50);
	display: block;
	position: absolute;
	width: 192px;
	height: 28px;
	padding: 5px 0 0 12px;
	margin: -5px 0px 0 -12px;
	text-decoration: none;
}

#maincontentmenu a:hover{
	color: rgb(0,0,0);
}

.countCircle {
	position: absolute;
	right: 12px;
	top: -16px;
	height: 36px;
	width: 36px;
	
	-moz-border-radius: 1.2em;
		-webkit-border-radius: 1.2em;
			border-radius: 1.2em;
			
	background-color: rgb(134,214,106); /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(134,214,106,1)), to(rgba(78,152,52,1))); /* for webkit browsers */
	background: -moz-linear-gradient(top,  rgba(134,214,106,1), rgba(78,152,52,1)); /* for firefox 3.6+ */
	
	-moz-box-shadow: 
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 3px 0px;
	-webkit-box-shadow: 
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 3px 0px;
	box-shadow: 
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 3px 0px;
}

.countNumber {
	width: 34px;
	font-family: 'Museo';
	font-size: 20px;
	letter-spacing: -2px;
	color: rgb(255,255,255);
	position: absolute;
	top: 6px;
	margin: 0px auto;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
	text-align: center;
}

#maincontent {
	min-width: 560px;
	padding: 20px;
	padding-top: 10px;
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
	
	border: 1px solid rgba(0,0,0,0.3);
	
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
	box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;	
	
	
	background-color: rgb(255,255,255);
}

.button {
	position: relative;
	float: right;
	font-family: 'Museo';
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: -0.5px;
	color: rgb(255,255,255);
	text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
	width: 140px;
	height: 28px;
	line-height: 26px;
	border: 1px solid rgba(0,0,0,0.2);
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
			
	-moz-box-shadow: 
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 2px 0px;
	-webkit-box-shadow: 
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 2px 0px;
	-box-shadow: 
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 2px 0px;
		
	background-color: rgb(134,214,106); /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(134,214,106,1)), to(rgba(78,152,52,1))); /* for webkit browsers */
	background: -moz-linear-gradient(top,  rgba(134,214,106,1), rgba(78,152,52,1)); /* for firefox 3.6+ */
	
	
	display: block;
}

#maincontentmenu .button a{
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	width: 140px;
	height: 28px;
	text-decoration: none;
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
	
	 -moz-box-shadow: 
	 	inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		inset rgba(0, 156, 237, 0.2) 0 0px 12px, 
		rgba(0, 156, 237, 0.6) 0 0px 12px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 0.8) 
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		inset rgba(0, 156, 237, 0.2) 0 0px 12px, 
		rgba(0, 156, 237, 0.6) 0 0px 12px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		inset rgba(0, 156, 237, 0.2) 0 0px 12px, 
		rgba(0, 156, 237, 0.6) 0 0px 12px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
    
    -moz-transition: all 1s ease-out;  /* FF3.7+ */
    -o-transition: all 1s ease-out;  /* Opera 10.5 */
  	-webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
  
 	opacity: 0;
}

#maincontentmenu .button a:hover{
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
			
	 -moz-box-shadow: 
	 	inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		inset rgba(0, 156, 237, 0.2) 0 0px 12px, 
		rgba(0, 156, 237, 0.6) 0 0px 12px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		inset rgba(0, 156, 237, 0.2) 0 0px 12px, 
		rgba(0, 156, 237, 0.6) 0 0px 12px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -2px 0px,
		inset rgba(0, 156, 237, 0.2) 0 0px 12px, 
		rgba(0, 156, 237, 0.6) 0 0px 12px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	
	-moz-transition: all 0.25s ease-out;  /* FF3.7+ */
    -o-transition: all 0.25s ease-out;  /* Opera 10.5 */
  	-webkit-transition: all 0.25s ease-out;  /* Saf3.2+, Chrome */
  	
 	opacity: 1;
}

/* ---------------------  */
/* ------- APPS -----  */
/* ---------------------  */

.icon {
	position: relative;
	width: 96px;
	height: 96px;
	text-align: center;
	
	background-image: url('img/default-icon.png');

	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
	
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
		
	margin: 10px;
}

.icon a {
    display: block;
	position: absolute;
	width: 96px;
	height: 96px;
	font-size: 1.2em;
	color: rgb(255,255,255);
	text-decoration: none;
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
	
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px,
		inset rgba(0, 156, 237, 0.2) 0 0px 24px, 
		rgba(0, 156, 237, 0.6) 0 0px 24px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	-webkit-box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px,
		inset rgba(0, 156, 237, 0.2) 0 0px 24px, 
		rgba(0, 156, 237, 0.6) 0 0px 24px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
	box-shadow: 
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px,
		inset rgba(0, 156, 237, 0.2) 0 0px 24px, 
		rgba(0, 156, 237, 0.6) 0 0px 24px, 
		rgba(0, 156, 237, 1) 0 0px 4px;
		
	-moz-transition: all 1s ease-out;  /* FF3.7+ */
    -o-transition: all 1s ease-out;  /* Opera 10.5 */
  	-webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
  	
 	opacity: 0;

}

.icon a:hover {
	
	-moz-transition: all 0.25s ease-out;  /* FF3.7+ */
    -o-transition: all 0.25s ease-out;  /* Opera 10.5 */
  	-webkit-transition: all 0.25s ease-out;  /* Saf3.2+, Chrome */
  	
 	opacity: 1;

}

.app {
	float: left;
	position: relative;
	margin: 0px 5px 30px 5px;
}

.appName{
	color: rgb(120,120,120);
	font-family:'Museo', Tahoma, sans-serif !important;
	width: 96px;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: -0.2px;
	top: 106px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	display: block;
	text-align: center;
	position: absolute;
}

.appList {
	padding: 10px;
	margin: 0px auto;
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	
	background-color: rgb(230,230,230);
	background: rgba(0,0,0,0.1) url('img/grain.png') repeat top center;
	
	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;
	
	-moz-box-shadow: 
		rgba(255, 255, 255, 1) 0 1px 0px,
		rgba(255, 255, 255, 1) 0 0px 12px,
		inset rgba(0, 0, 0, 0.1) 0 0px 6px,
		inset rgba(0, 0, 0, 0.05) 0 3px 
	-webkit-box-shadow: 
		rgba(255, 255, 255, 1) 0 1px 0px,
		rgba(255, 255, 255, 1) 0 0px 12px,
		inset rgba(0, 0, 0, 0.1) 0 0px 6px,
		inset rgba(0, 0, 0, 0.05) 0 3px 0px;
	box-shadow: 
		rgba(255, 255, 255, 1) 0 1px 0px,
		rgba(255, 255, 255, 1) 0 0px 12px,
		inset rgba(0, 0, 0, 0.1) 0 0px 6px,
		inset rgba(0, 0, 0, 0.05) 0 3px 0px;
		
}

.appList:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ---------------------------  */
/* ------- FOOTER -------  */
/* ---------------------------  */

#footer {
	clear: both;
	padding: 12px 24px;
	text-align: right;
	font-size: 10px;

}

.mozLogo {
	margin-bottom: -10px;
	margin-right: 6px;
}

