/**************
*
* nuovodashboard.css
*
/**************/


#unsupportedBrowser {
  display: none;
}

/* ------- HTML ELEMENTS ------- */

html {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;

}

body {
	font-family: Tahoma, sans-serif !important;
	background: rgba(25,25,35,1);
	font-size:13px;
}

@font-face{
  font-family: 'Museo';
  src: url('fonts/MuseoSans_500.otf') format('opentype');
}


.glowy-blue-frame {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;

  -moz-box-shadow: 
		rgba(70, 180, 255, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px;
	box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px;
}

.glowy-blue-outline {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 2px solid rgba(150,230,255,1);


  -moz-box-shadow: 
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;
	box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;

}

.glowy-blue-text {
	font-family: 'Museo';
	color: rgba(150, 230, 255, 0.65);
  background-color: rgba(0,0,0,0);

  -moz-text-shadow: 
		rgba(70, 180, 255, 0.75) 0 0 12px,
		rgba(70, 180, 255, 1) 0 0 4px;
	-webkit-text-shadow:
		rgba(70, 180, 255, 0.75) 0 0 12px,
		rgba(70, 180, 255, 1) 0 0 4px;
	text-shadow:
		rgba(70, 180, 255, 0.75) 0 0 12px,
		rgba(70, 180, 255, 1) 0 0 4px;

  cursor:default;
}

.glowy-red-outline {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 2px solid rgba(255,200,170,1);


  -moz-box-shadow: 
		rgba(255, 120, 100, 1) 0 0 3px 3px,
		inset	rgba(255, 120, 100, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(255, 120, 100, 1) 0 0 3px 3px,
		inset	rgba(255, 120, 100, 1) 0 0 3px 3px;
	box-shadow:
		rgba(255, 120, 100, 1) 0 0 3px 3px,
		inset	rgba(255, 120, 100, 1) 0 0 3px 3px;

}

.glowy-red-text {
	font-family: 'Museo';
	color: rgba(255, 200, 170, 0.65);
  background-color: rgba(0,0,0,0);

  -moz-text-shadow: 
		rgba(255, 120, 100, 0.75) 0 0 12px,
		rgba(255, 120, 100, 1) 0 0 4px;
	-webkit-text-shadow:
		rgba(255, 120, 100, 0.75) 0 0 12px,
		rgba(255, 120, 100, 1) 0 0 4px;
	text-shadow:
		rgba(255, 120, 100, 0.75) 0 0 12px,
		rgba(255, 120, 100, 1) 0 0 4px;

  cursor:default;
}

/* ---------------------------  */
/* ------- HEADER -------  */
/* ---------------------------  */

#header {
	position: relative;
	min-width: 600px;
	height: 41px;
	margin-bottom: 8px;
}


.horiz-divider {
	position: relative;
	min-width: 600px;
	height: 2px;
	margin-bottom: 16px;
	
	background-color: rgba(150,230,255,1);
	
}


.headerText {
	position: absolute;
	font-size: 32px;
	letter-spacing: 3px;
	margin-left: 10px;
	margin-top: 2px;
}

.appDock {
  position:relative;
  height:80px;
  margin-bottom: 16px;
  padding-left: 0px;
}

.appInDock {
  height: 64px;
  width: 64px;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: rgba(35,35,50, 1);

}

.appInDockDrop {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: rgba(35,35,50, 1);
}


#filterAndListBox {
  float:left;
}

.appFilter {
  height: 40px;
  width: 300px;
  margin-bottom: 8px;
}

.filterText {
  height: 32px;
  width: 250px;
  border:none;
  font-size: 24px;
  margin-top:4px;
  margin-left:8px;
  letter-spacing:3px;
}

.topMargin8 {
  margin-top: 8px;
}

.glowButton {
  height: 25px;
  width: 25px;
  float: right;
  margin-right: 8px;
}

.hot {
  margin-right: 6px;
  margin-top: 6px;

 	height: 30px;
 	width: 30px;
}

.infohot {
  margin-right: 6px;
  margin-top: -1px;

 	height: 30px;
 	width: 30px;
}


.appList {
  min-height:100px;
  width:300px;	
  margin-bottom:8px;
}

.widgetSpace {
  position: relative;
/*
  min-height:148px;
*/
  margin-left:320px;
  max-width:3000;
  margin-bottom: 8px;
}



/* ---------------------  */
/* ------- APPS -----  */
/* ---------------------  */

.icon {
  float: left;
	width: 32px;
	height: 32px;

	background-image: url('img/default-icon.png');

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	-webkit-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;

}

.dockIcon {

	width: 64px;
	height: 64px;

	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	-moz-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	-webkit-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;

}


.widgetFrame {
    background: rgba(25,25,35,1);
    position : absolute;   
}


.clientframe {
      position : absolute;
      margin-left : 8px;
      margin-top : 8px;
      border : 0px white;
      -moz-border-radius : 0.5em;
      -webkit-border-radius : 0.5em;
      border-radius : 0.5em;
      background : white
}

.framehider {

}

.app {
  position: relative;
	margin-left: 8px;
	margin-top: 8px;
	width: 292px;
	height: 32px;
}

.listLabel {
    font-size: 18px;
      line-height: 36px;
      margin-left: 44px;
      letter-spacing: 1px;
      width: 188px;
}

.labelBox {
      width: 220px;
      padding-left: 76px;
      }
      
.infoLabel {
      font-size: 18px;
      line-height: 20px;
      padding-top: 4px;
      letter-spacing: 1px;
}

.infoLabelSmall {
      font-size: 14px;
      line-height: 16px;
      padding-left: 1px;
}

.descriptionBox {
      padding-top: 20px;
      padding-left: 2px;
      width: 300px;
      height: 100px;
      overflow: hidden;
}

.deleteAppButton {
      padding-top: 30px;
      padding-left: 20px;
      width: 85px;
      height: 30px;
      float: left;
}

.widgetToggleButton {
      padding-top: 30px;
      padding-right: 20px;
      width: 85px;
      height: 30px;
      float: right;
      text-align: right;
}



/* modal dialog stuff here */

#modalPage
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
}
.modalBackground
{
    filter: Alpha(Opacity=60); -moz-opacity:0.6; opacity: 0.6;
    width: 100%; height: 100%; background-color: #000000;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}

.modal
{
    background-color: rgba(25,25,35,1);
    position: relative;
    top: 130px;
    left: 160px;
    z-index: 1000;
    width: 320px;
    height: 240px;
    padding: 10px;
}
