/**************
*
* style.css
*
/**************/

/* don't display anything at inital pageload, wait for page load where
 * browser feature checking will occur */
#container {
/*  display: none; */
}

#unsupportedBrowser {
  display: none;
}

/* ------- HTML ELEMENTS ------- */

html {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;

}

body {
	font-family: Tahoma, sans-serif !important;

	background-color: rgb(0,0,0);
	background: rgba(0,0,0,0.9) url('img/grain.png') repeat top center;

	color: rgb(180,180,180);
	font-size:13px;
}

@font-face{
font-family: 'Museo';
src: url('fonts/MuseoSans_500.otf') format('opentype');
}

#container {
	margin: 0px auto;
}

.glowy-blue-frame {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;

  -moz-box-shadow: 
		rgba(70, 180, 255, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px;
	box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px;
}

.glowy-blue-outline {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 2px solid rgba(150,230,255,1);


  -moz-box-shadow: 
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;
	box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;

}

.glowy-blue-text {
	font-family: 'Museo';
	color: rgba(150, 230, 255, 0.65);
  background-color: rgba(0,0,0,0);

  -moz-text-shadow: 
		rgba(70, 180, 255, 0.75) 0 0 12px,
		rgba(70, 180, 255, 1) 0 0 4px;
	-webkit-text-shadow:
		rgba(70, 180, 255, 0.75) 0 0 12px,
		rgba(70, 180, 255, 1) 0 0 4px;
	text-shadow:
		rgba(70, 180, 255, 0.75) 0 0 12px,
		rgba(70, 180, 255, 1) 0 0 4px;

  cursor:default;


}

/* ---------------------------  */
/* ------- HEADER -------  */
/* ---------------------------  */

#header {
	position: relative;
	min-width: 600px;
	height: 40px;
	margin-bottom: 8px;
}

#header img {
	position: absolute;
	top: -20px;
	right: -10px;
}

.horiz-divider {
	position: relative;
	min-width: 600px;
	height: 2px;
	margin-bottom: 16px;
	
	background-color: rgba(150,230,255,1);
	
}


.headerText {
	position: absolute;
	font-size: 32px;
	letter-spacing: 4px;
	margin-left: 10px;
	margin-top: 2px;
}

.appDock {
  position:relative;
  height:80px;
  margin-bottom: 16px;
  padding-left: 0px;
}

.appInDock {
  height: 64px;
  width: 64px;
  
  margin-left: 8px;
  margin-top: 8px;

}

#filterAndListBox {
  float:left;
}

.appFilter {
  height: 40px;
  width: 300px;
  margin-bottom: 8px;
}

.filterText {
  height: 32px;
  width: 276px;
  border:none;
  font-size: 24px;
  margin-top:4px;
  margin-left:8px;
  letter-spacing:3px;
}

.appList {
  min-height:100px;
  width:300px;	
  margin-bottom:8px;
}

.widgetSpace {
  position: relative;
  min-height:148px;
  margin-left:320px;
  max-width:3000;
  margin-bottom: 8px;;
}



/* -------------------------------------------------------------  */
/* ------- MAIN CONTENT TABS AND FRAME -----  */
/* -------------------------------------------------------------  */


.button {
	position: relative;
	float: right;
	font-family: 'Museo';
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: -0.5px;
	color: rgb(255,255,255);
	text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
	width: 140px;
	height: 28px;
	line-height: 26px;
	border: 1px solid rgba(0,0,0,0.2);

	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;

	-moz-box-shadow:
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 2px 0px;
	-webkit-box-shadow:
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 2px 0px;
	-box-shadow:
		inset rgba(218,255,191,1) 0 1px 0px,
		inset rgba(0,0,0,0.2) 0 -2px 0px,
		rgba(0,0,0,0.1) 0 2px 0px;

	background-color: rgb(134,214,106); /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(134,214,106,1)), to(rgba(78,152,52,1))); /* for webkit browsers */
	background: -moz-linear-gradient(top,  rgba(134,214,106,1), rgba(78,152,52,1)); /* for firefox 3.6+ */


	display: block;
}


/* ---------------------  */
/* ------- APPS -----  */
/* ---------------------  */

.icon {
/*
	position: relative;
*/
  float: left;
	width: 32px;
	height: 32px;

	background-image: url('img/default-icon.png');

	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;

	-moz-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	-webkit-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;

}

.dockIcon {

	width: 64px;
	height: 64px;

	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;

	-moz-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	-webkit-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;

}

/*
.icon a {
    display: block;
	position: absolute;
	width: 96px;
	height: 96px;
	font-size: 1.2em;
	color: rgb(255,255,255);
	text-decoration: none;

	-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
			border-radius: 1em;

	-moz-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px,
		inset rgba(0, 156, 237, 0.2) 0 0px 24px,
		rgba(0, 156, 237, 0.6) 0 0px 24px,
		rgba(0, 156, 237, 1) 0 0px 4px;
	-webkit-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px,
		inset rgba(0, 156, 237, 0.2) 0 0px 24px,
		rgba(0, 156, 237, 0.6) 0 0px 24px,
		rgba(0, 156, 237, 1) 0 0px 4px;
	box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px,
		inset rgba(0, 156, 237, 0.2) 0 0px 24px,
		rgba(0, 156, 237, 0.6) 0 0px 24px,
		rgba(0, 156, 237, 1) 0 0px 4px;

	-moz-transition: all 1s ease-out; 
    -o-transition: all 1s ease-out;  
  	-webkit-transition: all 1s ease-out; 

 	opacity: 0;

}

.icon .moreInfo {
	background-image: url('img/info.png');
  z-order: 999;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -10px;
  top: -10px;
  display: none;
  z-index: 900;
  cursor:pointer;
}


.icon a:hover {

	-moz-transition: all 0.25s ease-out;  
    -o-transition: all 0.25s ease-out;  
  	-webkit-transition: all 0.25s ease-out;  

 	opacity: 1;

}
*/

.widget {
/*
      position : relative;
      margin-left : 8;
      margin-top : 8;
      border : 0px white;
      borderRadius : 0.5em;
      -moz-border-radius : 0.5em;
      -webkit-border-radius : 0.5em;
      background : white;	
*/
}


.app {
	margin: 8px;
	width: 240px;
}


.appList:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

