#results {
	padding: 5px 5px;
	background-color:#f8f8f8;
/*	display:none;*/
	width:600px;
}

#spotlight_body {
	font-size:14px;
	margin-top:40px;
	width: 540px;
	margin: 40px auto;
}
#no_results {
	display:none;
	margin-top:20px;
}
#no_results span {
	font-size:12px;
}
.gallery_screen_container {
	
	display:none;

}
#loading_results {
	display:none;
}

#results > ul > li > .searchCat {
  font:bold 12px Helvetica;
  margin-bottom:-16px;
  width:60px;
}

#results > ul > li > ul {
  padding-left:0px;
  margin-left:60px;
}
#results > ul > li > ul > li > .searchHead > img {
  padding-right:4px;
}
#results > ul > li > ul > li > .searchHead {
  font:14px Helvetica;
}
#results > ul > li > ul > li > .searchHead > a {
  color:black;
}
#results > ul > li > ul > li > .searchSumm {
  display:none;
  margin-left:20px;
  font:14px Helvetica;
}
#results > ul > li > ul > li {
  margin-bottom:2px;
}



.ui-autocomplete { position: absolute; cursor: default; font-size:12px;}	
* html .ui-autocomplete { width:1px;} /* without this, the menu expands to 100% in IE6 */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background-color: #dadada; color: #212121/*{fcHover}*/; }
li {
	list-style: none;

}
.ui-autocomplete-input {
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #DDDDDD;
color:#333333;
font-size:12px;
padding:6px;
width:110px;
}
.ui-autocomplete-button {
background:url("/img/toggle_down_dark.png") no-repeat scroll 0 0 transparent;
border:medium none;
position:absolute;
right:4px;
top:3px;
width:16px;
}
.ui-menu {
	border:1px solid #999999;
	background-color: #EEEEEE;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}


#searchbar {
	width:480px;
}
#searchbar form {
	display:inline;
}
#index_icon {
	margin: 6px 10px;
	float:left;
}
#fq {
	position:relative;
	display:inline;
}
#query {
	float:right;
	display:inline;
}
#si {
	width:280px;
	padding:4px 0px;
	font-size:18px;
	margin-top:-2.8px;
}
} /* without this, the menu expands to 100% in IE6 */
.comboicon {
	margin-right:6px
}

a {
	text-decoration: none;
}
#si {
	
	padding: 5px;
	font-size:14px;
	margin: 0 auto;
}


#results td {
	padding: 5px;
	margin: 2px;
}

#l {
	position:fixed;
	top:240px;
	padding: 20px;
	border: 4px solid #25738d;
	background-color:#cccccc;
	color:#0082a7;
	left:600px;
	display:none;
}

td img {
	margin-bottom:-2px;
margin-right:4px;
}

#results .line {
	border-right: 1px solid #cccccc;
}
#results .resultset {
	color:#cccccc;
}

#results tr:hover {
	color:#ffffff;
	background-color:#878489;
	cursor:pointer;
}
#showall {
	font-size:12px;
	margin:10px 0 0 120px;
	display:none;
	
}

#showall img {
	margin: -3px 4px;
}
.hover {
		color:#ffffff;
	background-color:#878489;
	cursor:pointer;
}

.item .highlight {
	font-size:10px;
	
}
.item em {
	font-weight: bold;
}

