
html {
  font-family: arial;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}



.dashboardclipper {
  position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;

  width: 720;
  height: 110;
  clip: rect(0px, 720px, 110px, 0px);
  background: rgb(230, 230, 230);
}

.dashboard {
  position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;

  overflow: hidden;
  height: 110;
}


.page { 
  display: inline-block; 
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.pageLeft {
  margin: 0px;
  border: 0px;
  padding: 0px;

  position: absolute;
  left: 2px;
  width: 12px;
  height: 100px;
}

.pageRight {
  margin: 0px;
  border: 0px;
  padding: 0px;

  position: absolute;
  left: 738px;
  
  width: 12px;
  height: 100px;
}

.appDisplayFrame {
  border: 0px;
  position: absolute;
}




.liftedApp {
  box-shadow: 2px 6px 10px 2px rgb(0, 0, 0);
  background-color: rgb(40, 180, 80) !important;
}
      
.highlighted {
    background-color: rgba(255, 140, 60, 0.66) !important;
  }


.icon {
  display:inline-block;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

  background-image: -moz-linear-gradient( rgba(245,245,245,1), rgba(175,175,175,1) );


}

.iconWrapper {
  background-color: transparent;
}

.appLabel {
  white-space: nowrap;
  overflow: hidden;    
  text-align:center;
  margin: auto;
  font-weight: bold;
  color: #ccc;
  text-shadow: black 1px 1px;
}

