body {
  background:url(silkscreen_logo.png) no-repeat;
  overflow-x:hidden;
  margin:0;
  padding:0;
}

#requestInfo {
  margin-left:10px;
  margin-top:10px;
  height:130px;
  font-family:'Lucida Grande',Tahoma,Arial,sans-serif;
  width:474px;
}

.serviceFrame {
  width:484px;
  height:177px;
  border:0px;
  background:none;
}
#servicebox {
  height:262px;
  width:484px;
}

#services {
  border-radius:0;
  -moz-user-select:none
}
#services-tabs {
  border-radius:0;
  padding-left:4px;
}
.serviceDiv {
  height:262px;
  background-color:#e5e5e5;
}

#confirm {
  width:468px;
  height:32px;
  background-color:#e5e5e5;
  padding-top:16px;
  padding-right:16px;
}
#confirmbutton {
  position:absolute;
  left: 410px;
  width:64px;
}

#confirmbutton button {
  font:0.8em 'Lucida Grande',Tahoma,Arial,sans-serif;
  width:64px;
}
#confirmoptions {
  position:absolute;
  left: 10px;
  width:340px;
}
#siteID {
  font-weight:bold;
}

.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }

.ui-tabs
{ position: relative;
  padding: 0; zoom: 1;
}


/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0 0 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 0 0 3px; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: 0px 8px; text-decoration: none; margin-top:auto; margin-bottom:auto }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */


.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0;
/*  background: none; */
}

.ui-tabs .ui-tabs-hide { display: none !important; }

/*.ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }*/
/* Interaction states
----------------------------------*/
.ui-autocomplete .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {

/*  border-bottom: 1px solid #C6D1DA;*/
  background-color: white;
  color:#303030;
}
.ui-autocomplete .ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  text-decoration: none;
  color: black;
}

.ui-autocomplete .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-color: white;
  color: black;
}

.ui-autocomplete .ui-state-hover a,
.ui-state-hover a:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
/*  border: 1px solid #f0f0f0;*/
  /*background-color: #535F6D;*/
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #e5e5e5;
}

.ui-autocomplete .ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: black;
  text-decoration: none;
}

.ui-autocomplete .ui-widget :active {
  outline: none;
}
