<html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>Vapour: Browser Applications</title>
</head>
<body>

<div class="topbar">
<div class="breadcrumb">
<a href="/">Vapour</a> : <a href="/browse">Applications</a> : {{ category }}
</div>

<div class="user">
{% if user %}
{{ user.username }} <div class="droparrow"></div>
{% else %}
<a href="/login">Login</a>
{% end %}
</div>
<div class="lvertbar"></div>

<div class="content">


<div class="applicationlist">
<ul>
{% for app in apps %}
<li class="applistitem">
<div class="applisticon">
  <a href="/detail?id={{app.id}}"><img width="96" height="96" src="{{app.icon96}}"/></a>
</div>
<div class="applistdetail">
  <a href="/detail?id={{app.id}}">{{ app.name }}</a><br>
  {{ app.category }}<br>
  Released {{ app.releaseDateObj.strftime("%b %d, %Y")}}<br>
  <br/>
  <b>Free</b><br>
</div>
</li>
{% end %}
</ul>
</div>


</div>

</body>
</html>