<html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>Mozilla Web Application Marketplace</title>
</head>
<body>

<div class="topbar">
<div class="breadcrumb">
<a href="/">Vapour</a> : Register New Application
</div>

<div class="user">
{% if user %}
{{ user.username }} <div class="droparrow"></div>
{% else %}
<a href="/login">Login</a>
{% end %}
</div>
<div class="lvertbar"></div>

<div class="content">

{% if error %}
<div class="error">{{ error }}</div>
{% end %}

<form method="POST" action="/appregister">

<div class="label">Developer:</div>
<div class="value" style="margin-bottom:16px">
<select name="developer">
{% for dev in devs %}
<option value="{{ dev.id }}">{{ dev.name }}</option>
{% end %}
</select>
</div>


<div class="label">Application Name:</div>
<div class="value"><input style="width:300px" type="text" name="appname"></div><br/>

<div class="label">Application Domain:</div>
<div class="value"><input style="width:300px" type="text" name="domain"></div><br/>

<div class="label">Application Category:</div>
<div class="value"><input style="width:300px" type="text" name="category"></div><br/>

<div class="label">Application Description:</div>
<div class="value"><textarea rows="8" cols="80" name="desc"></textarea></div><br/>

<div class="label">Application Icon URL (base64-encoded 96x96 pixel PNG data, please):</div>
<div class="value"><input style="width:300px" type="text" name="icon"></div><br/>

<div class="label">Application Large Icon URL (base64-encoded 192x192 pixel PNG, please):</div>
<div class="value"><input style="width:300px" type="text" name="iconlarge"></div><br/>

<div class="label">Application Home URL:</div>
<div class="value"><input style="width:300px" type="text" name="homeurl"></div><br/>

<div class="label">Application Verify URL:</div>
<div class="value"><input style="width:300px" type="text" name="verifyurl"></div><br/>

<input type="submit" value="Submit App">
</form>


</div>

</body>
</html>