<html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>Vapour: Browse Applications</title>
</head>
<body>

<div class="topbar">
<div class="breadcrumb">
<a href="/">Vapour</a> : Applications
</div>

<div class="user">
{% if user %}
{{ user.username }} <div class="droparrow"></div>
{% else %}
<a href="/login">Login</a>
{% end %}
</div>
<div class="lvertbar"></div>

<div class="content">

Application Directory:

<ul>
{% for cat in categories %}
<li><a href="/browse/{{ cat }}">{{ cat }}</a></li>
{% end %}
</ul>


</div>

</body>
</html>