<html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>Vapour: Browse Developers</title>
</head>
<body>

<div class="topbar">
<div class="breadcrumb">
<a href="/">Vapour</a> : Developers
</div>

<div class="user">
{% if user %}
{{ user.username }} <div class="droparrow"></div>
{% else %}
<a href="/login">Login</a>
{% end %}
</div>
<div class="lvertbar"></div>

<div class="content">

Developer Directory:
<ul>
{% for dev in devs %}
<li><a href="/developer/{{ dev.id }}">{{ dev.name }}</a></li>
{% end %}
</ul>


</div>

</body>
</html>