<html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>Vapour Account Management</title>
</head>
<body>

<div class="topbar">
<div class="breadcrumb">
Vapour : Account Management
</div>

<div class="user">
{% if user %}
{{ user.username }} <div class="droparrow"></div>
{% else %}
<a href="/login">Login</a>
{% end %}
</div>
<div class="lvertbar"></div>

<div class="content">

<div style="font-size:14pt;margin-bottom:16px">Account Management</div>

<div>Username: {{ user.username }}</div>

{% if devs and len(devs) %}
<div style="font-size:12pt;margin-top:16px;margin-bottom:16px">Developer Accounts:<div>
<ul style="list-style:none;margin-left:0px;padding-left:8px">
{% for dev in devs %} 
<li><a href="/developer/{{ dev.id }}">{{ dev.name }}</a></li>
{% end %}
</ul>
{% end %}

<div style="padding:8px;margin-top:64px;border:1px dotted #808080">
<form method="POST" action="/account">
<div style="margin-bottom:16px">Add to Developer Account:</div>
<input type="hidden" name="action" value="add_developer">
Developer Name:<br><input type="text" name="devname" style="width:300px">
<input type="submit" value="Add">
</form>
</div>

</div>

</body>
</html>