
html {
  font-family: sans-serif;
  background: -moz-Field;
  color: -moz-FieldText;
/*
  height: 100%;
*/
}

body {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
/*
  height: 100%;
*/
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#brandStart {
  text-align: center;
  height: 19%;
  max-height: 256px;
  min-height: 92px;
}

#brandStartSpacer {
  height: 6.5%;
}

#brandStartLogo {
  height: 100%;
}

#searchContainer {
  height: 15%;
  min-height: 90px;
}

#searchContainer::before {
  content: " ";
  display: block;
  height: 23%;
}

#searchForm {
  display: table;
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
}

@media all and (max-height: 700px) {
  #searchContainer { height: 20% }
}

@media all and (max-height: 450px) {
  #searchContainer { height: 30% }
}

#searchLogoContainer {
  display: table-cell;
  width: 30%;
  text-align: end;
  line-height: 32px;
}

#searchEngineLogo {
  -moz-margin-end: 2.5%;
  vertical-align: middle;
}

#searchInputContainer {
  display: table-cell;
  width: 38%;
  max-width: 700px;
  min-width: 150px;
}

#searchText {
  width: 100%;
  height: 32px;
  padding: 3px 6px;
  border-radius: 2px;
  border: 1px solid rgb(150,150,150);
  border-top-color: rgb(100,100,100);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  font-size: 1.2em;
}

#searchButtons {
  display: table-cell;
  width: 31%;
  vertical-align: top;
}

@media all and (max-width: 470px) {
  #searchLogoContainer { width: 10% }
  #searchButtons { width: 11% }
  #searchInputContainer { width: 40% }
}

@media all and (min-width: 470px) and (max-width: 600px) {
  #searchLogoContainer { width: 15% }
  #searchButtons { width: 16%; white-space: nowrap }
  #searchInputContainer { width: 45% }
}

@media all and (min-width: 600px) and (max-width: 850px) {
  #searchLogoContainer { width: 20% }
  #searchButtons { width: 21%; white-space: nowrap }
  #searchInputContainer { width: 49% }
}

#searchSubmit {
  background: -moz-linear-gradient(#f1f1f1, #dfdfdf);
  padding: 4px 8px;
  height: 32px;
  border: 1px solid #ccc;
  border-top-color: #ccc;
  border-bottom-color: #999;
  -moz-border-start-color: #afafaf;
  -moz-border-end-color: #999;
  box-shadow: 1px 1px 0 #e7e7e7,
              0 1px 0 #fcfcfc inset,
              0 -1px 0 #d7d7d7 inset;
  font-size: 1em;
  color: #000;
  cursor: pointer;
}

body[dir=rtl] #searchSubmit {
  box-shadow: -1px 1px 0 #e7e7e7,
              0 1px 0 #fcfcfc inset,
              0 -1px 0 #d7d7d7 inset;
}

#searchSubmit:active {
  background: -moz-linear-gradient(#c5c5c5, #c5c5c5);
  box-shadow: 1px 1px 0 #e7e7e7;
}

body[dir=rtl] #searchSubmit:active {
  box-shadow: -1px 1px 0 #e7e7e7;
}

#contentContainer {
  height: 55%;
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, rgba(16,83,130,.5), rgba(16,83,130,0) 75%),
                    -moz-radial-gradient(center top, ellipse farthest-side, rgba(180,218,244,.5), rgba(180,218,244,0)),
                    -moz-radial-gradient(center top, ellipse farthest-side, rgba(180,218,244,.3), rgba(180,218,244,0));
  background-size: 100% 5px,
                   100% 50px,
                   100% 100%;
  background-repeat: no-repeat;
}

/*
@media all and (max-height: 400px) {
  #contentContainer { height: 20% }
}
*/


#bottomSection {
  position: absolute;
  color: rgb(150,150,150);
  font-size: .8em;
  width: 100%;
  text-align: center;
  bottom: 2%;
}



.appList {
/*
  position relative;
  bottom: 2%
  width:90%;	
  height 20%;
  margin-bottom:8px;
  margin-left:8px;
  margin-right:8px;
*/
  }


.app {
  display: inline-block;
	margin-top: 8px;
	width: 88px;
	height: 88px;
}

.appClickBox {
	width: 88px;
	height: 88px;
}


.listLabel {
      font-size: 12px;
      line-height: 14px;
      margin:auto;
      margin-top:4px;
      width: 80px;
      white-space: nowrap;
      overflow: hidden;    
      text-align:center;
      }

.labelBox {
      display: block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;      

      }
      



.icon {
  display:block;
	width: 45px;
	height: 45px;
	margin:auto;
	padding: 2px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	-webkit-box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;
	box-shadow:
		inset rgba(255, 255, 255, 0.8) 0 1px 1px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 12px,
		rgba(0, 0, 0, 0.5) 0px 2px 1px;

    background-color: rgba(240,255,230,1.0);
}


.glowy-blue-outline {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid rgba(150,230,255,1);
  padding: 0px;

  -moz-box-shadow: 
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;
	box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px,
		inset	rgba(70, 180, 255, 1) 0 0 3px 3px;

}

.glowy-blue-frame {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

  -moz-box-shadow: 
		rgba(70, 180, 255, 1) 0 0 3px 3px;
	-webkit-box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px;
	box-shadow:
		rgba(70, 180, 255, 1) 0 0 3px 3px;
}
