@charset "UTF-8";

body {
    font-family: 'Marvel', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.msg {
    font-size: 1.5em;
}

.well {
    background-color: #F2F2F2;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%);
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

#dashboard {
    display: block;
}

#apps {
    display: block;
}

#help {
  display: block;
  font-size: 1em;
  color: #888888;
  width: 400px;
  height: 250px;
  margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
A:link {
  color: #333333;
}
A:visited {
  color: #333333;
}

#usage {
  margin-top: 24px;
  margin-right: auto;
}

#usageInfo {
    display: none;
    position: absolute;
    top: 300px;
    left: 270px;
    width: 450px;
    text-align: left;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 10000;
}


#login {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*overriding icongrid.css*/
.icon {
  padding: 8px;
  position: relative;
  width: 50%;
  height: 50%;
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;

    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
  background-color: #EEEEEE;
  -webkit-box-shadow: inset 1px 1px 3px 1px #cccccc;
  -moz-box-shadow: inset 1px 1px 3px 1px #cccccc;
  box-shadow: inset 1px 1px 3px 1px #cccccc;
}
