@charset "UTF-8";

body {
    font-family: 'Marvel', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.msg {
    font-size: 1.5em;
}

.well {
    background-color: #F2F2F2;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%);
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

#dashboard {
    display: block;
}

#apps {
    display: block;
}

.app {
    cursor: pointer;
    margin: 10px;
    font-size: 0.7em;
    display: inline-block;
    border: solid white 1px;
    border-radius: 5px 5px 5px 5px;
}

.app:hover {
    border: solid black 1px;
    border-radius: 5px 5px 5px 5px;
}

.app img {
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #F2F2F2;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%);
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
