@charset "UTF-8";

@font-face {
    font-family: 'Marvel';
    font-style: normal;
    font-weight: 700;
    src: local('Marvel Bold'), local('Marvel-Bold'), url('../fonts/marvel_bold.woff') format('woff');
}

@font-face {
    font-family: 'Marvel';
    font-style: normal;
    font-weight: 400;
    src: local('Marvel'), local('Marvel-Regular'), url('../fonts/marvel.woff') format('woff');
}

body {
    font-family: 'Marvel', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.msg {
    font-size: 1.5em;
}

.well {
    background-color: #F2F2F2;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%);
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

#dashboard {
    display: block;
}

#apps {
    display: block;
}

#help, #help-permissions {
  display: block;
  font-size: 1em;
  color: #888888;
  width: 400px;
  height: 250px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#help {
  text-align: center;
}
A:link {
  color: #333333;
}
A:visited {
  color: #333333;
}

#usage {
  margin-top: 24px;
  margin-right: auto;
}

#usageInfo {
    display: none;
    position: relative;
    width: 450px;
    top:260px;
    text-align: left;
    border: 2px solid #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 100000;
    clear: left;
    margin: 0 auto;
}

#centerfield {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}


#login {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*overriding icongrid.css*/
.icon {
  padding: 8px;
  position: relative;
  width: 50%;
  height: 50%;
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;

    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
  background-color: #EEEEEE;
  -webkit-box-shadow: inset 1px 1px 3px 1px #cccccc;
  -moz-box-shadow: inset 1px 1px 3px 1px #cccccc;
  box-shadow: inset 1px 1px 3px 1px #cccccc;
}
