
BODY {
  background:#c0c0c0;
}

#menu {
  position:absolute;
  left:20px;
  top:50px;
  width:160px;
  font:bold 12pt Helvetica;
}
#menu li {
  list-style:none;
  line-height:3em;
  border-top-left-radius:0.5em;
  border-bottom-left-radius:0.5em;
  border-left:1px solid #808080;
  border-top:1px solid #808080;
  border-bottom:1px solid #808080;
  margin-bottom:12px;
  padding-left:12px;
  background-color:#e0e0e0;
  cursor:pointer
}
#display {
  position:absolute;
  left:180px;
  top:30px;
  width:700px;
  background-color:#f0f0f0;
  border-radius:0.5em;
  border:1px solid #808080;
  padding:8px;
  font:10pt Helvetica;
}
.display_block {
  min-height:400px
}

.app {
  border:1px solid #e0e0e0;
  border-radius:0.5em;  
  background-color:white;
  margin-bottom:12px;
  padding:8px;
  position:relative;
  min-height:40px;
}
.app .detail {
  min-width:360px;
  white-space: nowrap;
}

.app .textbox {
  margin-left:16px;
  display:inline-block;
  width:300px;
}
.app .name {
  font:bold 10pt Helvetica;
  width:300px;
}
.app .receipt {
  font:8pt Helvetica;
  width:300px;
}
.app .icon {
  width:48px;
  height:48px;
  display:inline-block;
  vertical-align:top;
  background-image: -moz-linear-gradient(30% 0%, #ddd, #999, #ccc);  
  border-radius:.25em;
  -moz-background-size: cover;
  background-size: cover;
  box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
}

.app a {
  color:#45569a;
  text-decoration:none;
}
.app .configure {
  width:180px;
  float:right;
  font:8pt Helvetica;
}
.app .configure button {
  display:block;
  margin-top:8px;
}
.app .services {
  margin-top:4px;
  font:8pt Helvetica;
}
.app .services li {
  list-style:none;
  margin:0px;
}

#viewcontrols {
  display:none;
  background-color:white;
  border-bottom-left-radius:0.5em;
  border-bottom-right-radius:0.5em;
  margin-top:-10px;
  padding:8px;
  margin-bottom:16px;
  font:9pt Helvetica
}
#viewcontrols A {
  color:black
}



.fav_block {
  min-height:40px;
  display:inline-block;
}
.fav_app {
  border:1px solid #e0e0e0;
  border-radius:0.5em;  
  background-color:white;
  margin-bottom:12px;
  padding:8px;
  display:inline-block;
}

.fav_header {
  font:bold 12pt Helvetica;
  display:inline-block;
  width:120px;  
}
.fav_control {
  float:right;
}

.viewsrc {
  border:1px solid #e0e0e0;
  border-radius:0.5em;  
  background-color:white;
  margin-bottom:12px;
  padding:8px;
  position:relative;
  font:10pt Helvetica;

  -moz-transition:opacity 0.5s;
}

.row {
  margin-bottom:3px;
  border-bottom:1px groove #808080;
}
.row .label {
  display: inline-block;
  width: 120px;
  font-weight:bold;
  vertical-align:top;
}
.row .value {
  display: inline-block;
  max-width:500px;
  overflow-x: hidden;
}
.subobj {
  padding-left:20px;
}
.raw {
  border:1px solid #e0e0e0;
  border-radius:0.5em;  
  background-color:white;
  margin-bottom:12px;
  padding:8px;
  position:relative;
  font:10pt Helvetica;
  word-wrap: break-word;
}