body {
    font-family: 'lucida console', monaco, 'andale mono', 'bitstream vera sans mono', consolas, monospace;
}

#title {
    font-family: georgia, 'bitstream vera serif', serif;
    font-size: 300%;
    letter-spacing: -4px;
    font-weight: bold;
}
#subtitle {
    font-size: 90%;
}
#install_prompt {
    margin: 5px 30px 5px 30px;
    float:right;
}

#contentArea {
    margin: 30px 100px 30px 100px;
}